*{
    box-sizing: border-box;
}

body{
    background-color: #e0e5db;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='34' height='44' viewBox='0 0 34 44'%3E%3Cg fill='%2395ac92' fill-opacity='0.14'%3E%3Cpath fill-rule='evenodd' d='M1 6.2C.72 5.55.38 4.94 0 4.36v13.28c.38-.58.72-1.2 1-1.84A12.04 12.04 0 0 0 7.2 22 12.04 12.04 0 0 0 1 28.2c-.28-.65-.62-1.26-1-1.84v13.28c.38-.58.72-1.2 1-1.84A12.04 12.04 0 0 0 7.2 44h21.6a12.05 12.05 0 0 0 5.2-4.36V26.36A12.05 12.05 0 0 0 28.8 22a12.05 12.05 0 0 0 5.2-4.36V4.36A12.05 12.05 0 0 0 28.8 0H7.2A12.04 12.04 0 0 0 1 6.2zM17.36 23H12a10 10 0 1 0 0 20h5.36a11.99 11.99 0 0 1 0-20zm1.28-2H24a10 10 0 1 0 0-20h-5.36a11.99 11.99 0 0 1 0 20zM12 1a10 10 0 1 0 0 20 10 10 0 0 0 0-20zm0 14a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-3.46-2a2 2 0 1 0-3.47 2 2 2 0 0 0 3.47-2zm0-4a2 2 0 1 0-3.47-2 2 2 0 0 0 3.47 2zM12 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm3.46 2a2 2 0 1 0 3.47-2 2 2 0 0 0-3.47 2zm0 4a2 2 0 1 0 3.47 2 2 2 0 0 0-3.47-2zM24 43a10 10 0 1 0 0-20 10 10 0 0 0 0 20zm0-14a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm3.46 2a2 2 0 1 0 3.47-2 2 2 0 0 0-3.47 2zm0 4a2 2 0 1 0 3.47 2 2 2 0 0 0-3.47-2zM24 37a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-3.46-2a2 2 0 1 0-3.47 2 2 2 0 0 0 3.47-2zm0-4a2 2 0 1 0-3.47-2 2 2 0 0 0 3.47 2z'/%3E%3C/g%3E%3C/svg%3E");
}

nav h1{
    color: white;
}

.login{
    background-color: #000;
    color: gray;
    padding: 20px;
    border-radius: 10px;
    width: 40%;
    margin: 0 auto;
    margin-top: 3em;
    text-align: center;
}

.login a{
    color: white;
    text-decoration: none;
}

.input-box{
    width: 100%;
}

.input-box input{
    width: 100%;
    padding: 0.8em;
    border: none;
    border-radius: 0.6em;
    padding-left: 0.5em;
    margin-top: 1em;
    outline: 3px solid green;
}

.login button{
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: green;
    cursor: pointer;
    margin-top: 1em;
    font-size: 1.2em;
}

.welcome{
    box-shadow: 0 0 10px green;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 40%;
    margin: 0 auto;
    margin-top: 3em;
}

.welcome h1{
    color: green;
}

.welcome .btns{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.welcome button{
    width: 40%;
    padding: 10px;
    font-size: 1.2em;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    background-color: green;
    color: white;
}